# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
env/
venv/
ENV/
.venv/

# Model and logs (if generated later)
*.log
*.pkl
*.h5

# System files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Python history
.python_history

# Gradio local session files
gradio_cached_examples/

# Environment files
*.env
